<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filter Patients</title>
    <link rel="stylesheet" href="/Styles/output.css" />
  </head>
  <body class="bg-gray-100 min-h-screen">
    <div class="container mx-auto p-8">
      <h1 class="text-3xl font-bold text-primary mb-6">Filter Patients</h1>

      <!-- Filter Form -->
      <form
        action="/filter"
        method="post"
        class="bg-white shadow-md rounded-lg p-6"
      >
        <div class="mb-4">
          <label for="name" class="block text-secondary mb-2">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter patient name"
          />
        </div>
        <div class="mb-4">
          <label for="age" class="block text-secondary mb-2">Age</label>
          <input
            type="number"
            id="age"
            name="age"
            class="w-full px-3 py-2 border rounded"
            placeholder="Enter patient age"
          />
        </div>
        <div class="mb-4">
          <label for="gender" class="block text-secondary mb-2">Gender</label>
          <select
            id="gender"
            name="gender"
            class="w-full px-3 py-2 border rounded"
          >
            <option value="">Any</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="bloodType" class="block text-secondary mb-2"
            >Blood Type</label
          >
          <select
            id="bloodType"
            name="bloodType"
            class="w-full px-3 py-2 border rounded"
          >
            <option value="">Any</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
          </select>
        </div>

        <!-- Buttons -->
        <div class="flex justify-between space-x-4">
          <button
            type="button"
            onclick="window.location.href='/'"
            class="bg-secondary text-white py-3 px-6 rounded shadow w-1/2"
          >
            Back to Home
          </button>
          <button
            type="submit"
            class="bg-primary text-white py-3 px-6 rounded shadow w-1/2"
          >
            Filter
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
